<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define PublishFolder = "$(var.File Duplicate Finder.ProjectDir)\bin\$(var.Platform)\$(var.Configuration)"?>
  <?if $(var.Platform) = x64?>
  <?define ProductCode = "{6896E7DE-5003-47F6-83DF-DB2E58FB6737}"?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else?>
  <?define ProductCode = "{831274FF-8262-4B29-AF16-9CAE2A9095EE}"?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif?>

  <Product Id="*" Name="SetupProject1_$(var.Platform)" Language="1033" Version="1.0.0.0" Manufacturer="jakun jabowski" UpgradeCode="cea98363-20e7-47d3-9781-3a28537d02bc">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SetupProject1" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="SetupTest" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Component Id="exe" Guid="{1F595452-F9E9-4A6F-99A8-99271B799B28}">
        <File Id="exeFile" KeyPath="yes" Source="$(var.PublishFolder)\File Duplicate Finder.exe"/>
      </Component>
      <Component Id="exeConfig" Guid="{1E6528E8-2DD2-41FE-87AB-67454F591489}">
        <File Id="exeConfigFile" KeyPath="yes" Source="$(var.PublishFolder)\File Duplicate Finder.exe.config" />
      </Component>
      <Component Id="windowsAPICodePackDll" Guid="{EF697F20-81F7-49FA-B678-FB8CD5590EA8}">
        <File Id="windowsAPICodePackDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="windowsAPICodePackExtendedLinguisticServicesDll" Guid="{8A2BBE46-6410-463D-A6CC-2F9CDF0D7557}">
        <File Id="windowsAPICodePackExtendedLinguisticServicesDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" />
      </Component>
      <Component Id="windowsAPICodePackSensorsDll" Guid="{72DD7EAA-E329-4F82-AFFD-A4161CFF7865}">
        <File Id="windowsAPICodePackSensorsDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.Sensors.dll" />
      </Component>
      <Component Id="windowsAPICodePackShellDll" Guid="{C7F36954-57C1-4768-970D-C9B7C2B5BE5B}">
        <File Id="windowsAPICodePackShellDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="windowsAPICodePackShellExtenstionsDll" Guid="{49CEBE7B-19C7-4F02-97B9-F0261ACF7B61}">
        <File Id="windowsAPICodePackShellExtenstionsDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
