<?xml version="1.0" encoding="UTF-8"?>
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="exe"/>
      <ComponentRef Id="desktopShortcut"/>
      <ComponentRef Id="startMenuShortcut"/>
      <ComponentRef Id="exeConfig" />
      <ComponentRef Id="windowsAPICodePackDll" />
      <ComponentRef Id="windowsAPICodePackExtendedLinguisticServicesDll" />
      <ComponentRef Id="windowsAPICodePackSensorsDll" />
      <ComponentRef Id="windowsAPICodePackShellDll" />
      <ComponentRef Id="windowsAPICodePackShellExtenstionsDll" />
    </ComponentGroup>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLDIR" FileSource="$(var.PublishFolder)">

      <!-- Intsall exe -->
      <Component Id="exe" Guid="{1F595452-F9E9-4A6F-99A8-99271B799B28}">
        <File Id="exeFile" KeyPath="yes" Source="$(var.PublishFolder)\File Duplicate Finder.exe"/>
      </Component>
      
      <!-- Intsall start menu shortcut -->
      <Component Id="startMenuShortcut" Guid="{8BACEEEA-9F1C-4345-9302-559C6534E2E9}">
        <Condition>INSTALLSTARTMENUSHORTCUT</Condition>
        <Shortcut Id="startMenuShortcutFile"
                  Name="!(loc.ProductName)"
                  Description="File Duplicate Finder ($(var.Platform)) v$(var.Version)"
                  Target="[INSTALLDIR]File Duplicate Finder.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLDIR"
                  Icon="icon.ico"/>
        <!-- Unique key for this component / shortcut-->
        <RegistryValue Id="RegShortcutKey_SM" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes"/>
      </Component>

      <!-- Intsall desktop shortcut -->
      <Component Id="desktopShortcut" Guid="{F37BC7AA-4985-43FB-B9CC-FF5199288562}">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <Shortcut Id="desktopShortcutFile"
                  Name="!(loc.ProductName)"
                  Description="File Duplicate Finder ($(var.Platform)) v$(var.Version)"
                  Target="[INSTALLDIR]File Duplicate Finder.exe"
                  Directory="DesktopFolder"
                  WorkingDirectory="INSTALLDIR"
                  Icon="icon.ico"/>
        <!-- Unique key for this component / shortcut-->
        <RegistryValue Id="RegShortcutKey_D" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>
      </Component>
      
      <!-- Other files and dependencies -->
      <Component Id="exeConfig" Guid="{1E6528E8-2DD2-41FE-87AB-67454F591489}">
        <File Id="exeConfigFile" KeyPath="yes" Source="$(var.PublishFolder)\File Duplicate Finder.exe.config" />
        <RemoveFolder Id="removeStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>
      </Component>
      <Component Id="windowsAPICodePackDll" Guid="{EF697F20-81F7-49FA-B678-FB8CD5590EA8}">
        <File Id="windowsAPICodePackDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="windowsAPICodePackExtendedLinguisticServicesDll" Guid="{8A2BBE46-6410-463D-A6CC-2F9CDF0D7557}">
        <File Id="windowsAPICodePackExtendedLinguisticServicesDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" />
      </Component>
      <Component Id="windowsAPICodePackSensorsDll" Guid="{72DD7EAA-E329-4F82-AFFD-A4161CFF7865}">
        <File Id="windowsAPICodePackSensorsDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.Sensors.dll" />
      </Component>
      <Component Id="windowsAPICodePackShellDll" Guid="{C7F36954-57C1-4768-970D-C9B7C2B5BE5B}">
        <File Id="windowsAPICodePackShellDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="windowsAPICodePackShellExtenstionsDll" Guid="{49CEBE7B-19C7-4F02-97B9-F0261ACF7B61}">
        <File Id="windowsAPICodePackShellExtenstionsDllFile" KeyPath="yes" Source="$(var.PublishFolder)\Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
      </Component>
    </DirectoryRef>
    
  </Fragment>
  
</Wix>